/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make sure the body and root take full height */
html, body, #root {
  height: 100%;
  margin: 0; /* remove default margin */
}
